html {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, PingFang SC,
    Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Helvetica, Arial,
    sans-serif;
}

header {
  font-size: 1.75rem;
  font-weight: 700;
  padding: 1rem;
  margin: 3rem 1rem 1rem;
  text-align: center;
  position: relative;
}

.header__title {
  font-family: "Lato", sans-serif;
  font-size: 1.75rem;
}

.header__sub-title {
  font-family: "Lato", sans-serif;
  font-size: 1.25rem;
}

.file-uploader__upload-image-button {
  padding: 1rem 1rem;
  cursor: pointer;
  border: 1px dashed #d9d9d9;
  width: 350px;
  height: 300px;
  justify-self: center;
  text-align: center;
  margin-top: 0rem;
  grid-row: 1;
  grid-column: 2;
  z-index: 1;
}

.file-uploader__upload-supported-types {
  font-size: 0.75rem;
  font-weight: 700;
}

.file-uploader__file-upload-error {
  text-align: center;
  color: #c5221f;
}

.file-uploader__upload-image-button.image-active {
  cursor: not-allowed;
}

.file-uploader__remove-image-button {
  padding: 1rem 1rem;
  border: 1px solid gray;
  border-radius: 5px;
  cursor: pointer;
  grid-row: 3;
  width: 16rem;
  justify-self: center;
  grid-column: 2;
}

.file-uploader__remove-image-button:disabled {
  cursor: not-allowed;
  color: rgba(0, 0, 0, 0.25);
  background-color: #f5f5f5;
  border-color: #d9d9d9;
  text-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.file-uploader__analyze-image-button {
  padding: 1rem 1rem;
  border: 1px solid gray;
  border-radius: 5px;
  cursor: pointer;
  grid-row: 4;
  width: 16rem;
  justify-self: center;
  grid-column: 2;
}

.file-uploader__analyze-image-button:disabled {
  cursor: not-allowed;
  color: rgba(0, 0, 0, 0.25);
  background-color: #f5f5f5;
  border-color: #d9d9d9;
  text-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.file-uploader__container {
  display: grid;
  grid-template-rows: 333px 1fr repeat(3, 3.25rem);
  gap: 0.6rem;
  padding: 0 1rem;
  justify-items: stretch;
  align-items: start;
  justify-content: space-between;
  grid-template-columns: repeat(3, 1fr);
}

.file-uploader__image-preview-container {
  grid-row: 1;
  grid-column: 2;
  width: 300px;
  height: 300px;
  text-align: center;
  justify-self: center;
  align-self: center;
}

.file-uploader__image-preview {
  max-width: 100%;
  height: 100%;
  overflow: hidden;
  object-fit: cover;
}

.file-uploader__image-preview-icon {
  display: block;
  position: relative;
  margin: 5rem auto 2rem;
  width: 5rem !important;
  height: auto !important;
  pointer-events: none;
}

#fileUploaderInput {
  pointer-events: none;
}

.file-uploader__loader-container {
  position: fixed;
  inset: 0px;
  background-color: rgba(19, 33, 68, 0.25) !important;
}

.file-uploader__loader {
  position: relative;
  animation: spinner 0.9s linear infinite;
  color: #d2e4ff;
  width: 64px;
  height: 64px;
  display: block;
  margin: 17rem auto;
}

.file-uploader__prediction-result-container {
  grid-column: 2;
  grid-row: 2;
  display: grid;
  margin: 1rem;
  row-gap: 0.6rem;
}

.file-uploader__prediction-result {
  justify-self: center;
  text-align: center;
}

/* Animation for loader icon */
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 600px) {
  .file-uploader__upload-image-button {
    max-width: 23rem;
  }
}

@media (max-width: 420px) {
  .file-uploader__upload-image-button {
    max-width: 17rem;
  }

  .file-uploader__image-preview-container {
    width: 270px;
  }
}

@media (max-width: 400px) {
  .header__sub-title {
    font-size: 1rem !important;
  }

  .header__title {
    font-size: 1.3rem;
  }
}

@media (max-width: 350px) {
  .file-uploader__upload-image-button {
    max-width: 15rem;
  }
}
